:root {
	--font-color: #424242;
	--border-color: #bdbdbd;
	--hover-color: #0056b3;
}
.title-style {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 0;
	font-weight: 700;
}

.title-style::before {
	content: '';
	width: 250px;
	height: 1px;
	background: var(--primary-color);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.title-style::after {
	content: '';
	width: 60px;
	height: 2px;
	background: var(--primary-color);
	position: absolute;
	bottom: 0;
	left: calc(50% - 30px);
}

.post {
	font-size: 15px;
	margin-top: 25px;
	padding: 15px 0;
}

.content {
	padding: 30px;
}

.post-title h4 {
	font-size: 26px;
	line-height: normal;
	font-weight: 500;
	margin-bottom: 0;
	color: var(--font-color);
}

.meta {
	margin-top: 10px;
}

.meta li {
	display: inline-block;
	font-size: 14px;
	color: var(--font-color);
	margin: 5px;
	list-style: none;
}

.meta li span {
	color: var(--primary-color);
	padding-right: 5px;
}

.share-post {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid var(--primary-color);
	text-align: justify;
}

.share-post span {
	color: var(--primary-color);
	font-weight: 700;
}

.share-post ul {
	float: right;
}

.share-post ul li {
	display: inline-block;
	margin: 0 10px;
}

.recent-title {
	background-color: var(--primary-color);
	color: white;
	padding: 5px 14px;
	font-size: 22px;
	border-radius: 3px;
}
.recent-post a {
	text-decoration: none;
}
.description{
    font-size: 14px;
    margin-top: -10px;
    display: block;
    color: #666;
}
.tags{
	margin-bottom: 15px;
    margin-top: 5px;
}
.tag{
	background: #b7b7b7;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 13px;
    margin-right: 5px;
    margin-top: 5px;
}