/** carousel **/

.slider-item {
    height: 600px;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    color: #fff; 
    display: flex !important;
    justify-content: center;
    align-items: center;
}
    
.slick-prev {
    left: 35px;
    z-index: 5;
}

.slick-next {
    right: 35px;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    opacity: 1;

}

.slick-dots li button:before {
    font-size: 16px;
}

.slick-dots li button {
    display: none;
}


/* ********** about ********** */
.where-when {
    display: flex;
    justify-content: space-between;
}

.where-when img {
    width: 40px;
    height: 40px;
}


/* ******** timer *************  */
.timer-section {
    /* max-width: 500px; */
    /* box-shadow: 1px 1px 2px -31px rgba(0, 0, 0, 0.2), 1px 1px 7px 1px rgba(0, 0, 0, 0.19); */
    border-radius: 5px;
    /* margin-top: -80px; */
    position: relative;
    z-index: 1;
    background: white;
    padding: 15px 10px;
}

.timer-section>p {
    font-size: 20px;
    line-height: 1.5;

}

.timer {
    display: flex;
}

.timer-section h1 {
    color: #1162fb;
}

.time:first-child {
    border-left: transparent;
}


.time {
    border-left: 1px solid rgba(0, 0, 0, 0.05);

}

.time h3 {
    color: #1162fb;
    font-weight: 600 !important;
}

.leader-board{
    background: linear-gradient(45deg, #dc3545, #482c9a);
    border-radius: 12px;
    color: white;
}

.leader-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #dee2e6;
}

.leader-item {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    padding: 8px 15px;
}

.leader-item h4 {
    font-size: 18px;
    line-height: 7px;

}

.leader-board-title {
    text-align: center;
    padding: 15px 0;
    position: relative;
    line-height: 12px;
}

.leader-board-title h3 {
    font-size: 23px;
}

.leader-board-title span {
    font-size: 30px;
    position: relative;
    top: -10px;
    color: var(--primary-color);
}

.leader-board-title span::before {
    content: " ";
    width: 90px;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    top: 24px;
    left: 26px;
}

.leader-board-title span::after {
    content: " ";
    width: 90px;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    top: 24px;
    right: 26px;
}