/** carousel **/

.slider-item {
    height: 550px;
    background: linear-gradient(rgba(90, 68, 68, 0.7), rgba(0, 0, 0, 0.5)), url(../images/workshop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-prev {
    left: 35px;
    z-index: 5;
}

.slick-next {
    right: 35px;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    opacity: 1;

}

.slick-dots li button:before {
    font-size: 16px;
}

.slick-dots li button {
    display: none;
}