.navbar {
    background: #fff !important;
    padding-top: .9rem;
    padding-bottom: .9rem;
    box-shadow: 1px 1px 8px -20px rgba(0, 0, 0, 0.2), 4px 0px 5px 1px rgba(0, 0, 0, 0.19);
}

.navbar-brand {
    font-weight: 600;
}

.nav-item {
    margin: auto;
}

.nav-link {
    padding: 0px 25px !important;
    font-weight: 600;
    font-size: 16px;
    color: #222 !important;
}

.active {
    color: #0d6efd !important;
    border-bottom: 1px solid #0d6efd;
}

.avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
}

.sticky {
    transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;
    animation-duration: 1s;
}

.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 300;
    background: #fff;
    transition: all 1s linear 0s;
}

@keyframes fixed {
    0% {}
}

.dropdown-menu-style {
    width: 300px;
    height: auto;
    padding: 15px 10px;
    font-size: 14px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/** carousel **/

.slider-item {
    height: 550px;
    background: linear-gradient(rgba(90, 68, 68, 0.7), rgba(0, 0, 0, 0.5)), url(../images/workshop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-prev {
    left: 35px;
    z-index: 5;
}

.slick-next {
    right: 35px;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    opacity: 1;

}

.slick-dots li button:before {
    font-size: 16px;
}

.slick-dots li button {
    display: none;
}