.navbar {
    background: #fff;
    padding-top: .9rem;
    padding-bottom: .9rem;
    box-shadow: 1px 1px 8px -20px rgba(0, 0, 0, 0.2), 4px 0px 5px 1px rgba(0, 0, 0, 0.19);
}

.navbar-brand {
    font-weight: 700;
}

.nav-item {
    margin: auto;
}

.pd {
    padding: 0px 15px !important;
}

.nav-link {
    font-weight: 600;
    font-size: 16px;
    color: #222 !important;
    padding: 0;
}
.nav-link:hover{
    color: var(--primary-color) !important;
}
.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.active-link {
    color: var(--primary-color) !important;
    border-bottom: 1px solid var(--primary-color);
}

.avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
}

.sticky {
    transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;
    animation-duration: .7s;
}
.animation-during{
    transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
    -ms-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    animation-duration: 1.5s;
}
.delay1{
    /* opacity: 0; */
    animation-delay: 2.2s;
}
.delay2{
    animation-delay: 3.2s;
}

.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 300;
    background: #fff;
    transition: all 1s linear 0s;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.dropdown-menu-style {
    width: 300px;
    height: auto;
    padding: 15px 10px;
    font-size: 14px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.modal-content{
    position: relative;
}
.nav-pills{
    position: absolute;
}

.active {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
}

.active label {
    color: #333 !important;
    font-weight: 600;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
}

.nav-pills .nav-link {
    border-radius: 0px;
    padding: 11px;
}

.tab-content .active {
    border: none;
}

.form-control {
    padding: .55rem .75rem;
}