.shop-item{
    transition: all .5s;
    padding: 10px;
}
.shop-item:hover{
    transform: scale(1.05);
    box-shadow:  0 5px 13px 0 rgba(234,232,232,.48) ;
}
.shop-cart{
    position: relative;
    color: black;
    margin: 0 3px;
}
.shop-cart svg{
    font-size: 24px;
    margin: 0 5px;   
}
.shop-count{
    position: absolute;
    background-color: #e8e7e7;
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
    display: block;
    height: 17px;
    width: 17px;
    text-align: center;
    left: 28px;
    top: -8px;
}
.favorites:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.favorites .icon{
    font-size: 18px;
}
.quantity-btn{
    border: 1px solid#d3d3d3;
    padding: 11px;
    border-radius: 5px;
}
.success{
    color: green;
    font-size: 16px;
    padding-left: 15px;
}